h1,h2,h3{
  color: $base-color !important;
  transition: background-color .3s linear !important;
}
button{
  border: 2px solid $base-color !important;
  background-color: #fff !important;
  color: #333;
}

